#rechi-asov {
   max-width: 600px;
}

.item-odin {
  margin: 60px auto 140px;
}

.asov-row{
   display: flex;
   justify-content: space-between;
   margin-top: 85px;
}

.item-asov{
   box-sizing: border-box;
   width: 70px;
   height: 104px;
   background-color: rgb(253, 213, 167);
   border: 1px solid rgb(105, 19, 19);
   border-radius: 10px;
   color: $color-text;
   font-size: 70px;
   text-align: center;
   padding-top: 10px;
   transition: all 0.3s ease;
   cursor: pointer;
   &:hover {
     background-color: rgb(236, 199, 156);
   }
}